@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

$primary-color: #7a6e51;
$secondary-color: #d7bf9d;
$primary-font: "Exo 2", sans-serif;
$secondary-font: "Pacifico", cursive;