.card-container {
padding-left: 20%;
padding-right: 20%;
z-index: 1;

    .card {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
    }
}

h1 {
    padding-bottom: 40px;
}

h2 {
    padding-top: 40px;
    padding-bottom: 20px;
}
.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;  // Espacio entre el texto y el formulario
    padding: 20px;  // Añadir un poco de padding para mejor apariencia
    flex-wrap: wrap;
  
    .contact-text-left {
      flex: 1;
      max-width: 40%;  // Limita el ancho del texto en pantallas grandes
    }
  
    form {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;  // Espacio entre los campos del formulario
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      .contact-text-left, form {
        width: 100%;  // Elimina el límite de ancho para pantallas pequeñas
      }
    }
  }
  
  