@media (max-width: 768px) {  
    .container {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
    .d-flex {
      justify-content: center !important;

    }
  
    .ml-auto {
      display: flex;
      justify-content: center;
    }
  }