@media (max-width: 768px) {  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .d-flex {
      flex-direction: column !important;
      justify-content: center !important;

    }
  
    .ml-auto {
      margin-left: auto !important;
    }
  }